<div class="row">
    <div class="col-md-4 col-lg-4"></div>
    <div class="col-sm-12 col-md-3 col-lg-4 mt-4">
        <p>
            Приложение ПДД создано в благих целях.<br>
            Информация взята с <a href="http://pdd24.ru" target="_blank">pdd24.ru</a> и <a href="http://50kopeekvrn.ru" target="_blank">50kopeekvrn.ru</a>
        </p>
        <hr>
        <p>
            контактная информация: <a href="https://vk.com/pavellyzhin" target="_blank">страница в Vk</a>
        </p>
        <hr>
        <a routerLink="/" class="btn btn-info" align="center">назад</a>
    </div>
</div>